<p>total</p><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hillaryclinton</th>
      <th>politics</th>
      <th>the_donald</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>hillaryclinton</th>
      <td>1.000000</td>
      <td>0.396950</td>
      <td>0.547681</td>
    </tr>
    <tr>
      <th>politics</th>
      <td>0.396950</td>
      <td>1.000000</td>
      <td>0.788459</td>
    </tr>
    <tr>
      <th>the_donald</th>
      <td>0.547681</td>
      <td>0.788459</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table><br><p>trump</p><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hillaryclinton</th>
      <th>politics</th>
      <th>the_donald</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>hillaryclinton</th>
      <td>1.000000</td>
      <td>0.725639</td>
      <td>0.367782</td>
    </tr>
    <tr>
      <th>politics</th>
      <td>0.725639</td>
      <td>1.000000</td>
      <td>0.726632</td>
    </tr>
    <tr>
      <th>the_donald</th>
      <td>0.367782</td>
      <td>0.726632</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table><br><p>gay</p><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hillaryclinton</th>
      <th>politics</th>
      <th>the_donald</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>hillaryclinton</th>
      <td>1.000000</td>
      <td>0.734309</td>
      <td>0.486534</td>
    </tr>
    <tr>
      <th>politics</th>
      <td>0.734309</td>
      <td>1.000000</td>
      <td>0.814983</td>
    </tr>
    <tr>
      <th>the_donald</th>
      <td>0.486534</td>
      <td>0.814983</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table><br>