<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Data Incubator Capstone project by Jay Kaiser.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Jay Kaiser - Reddit Politics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="./static", filename='style.css'">
  </head>
  <body>

    <form id='entryinfo' method='post' action='counts'>
      <p>
    <input type='submit' value="See politics-to-subreddit raw counts..."/>
       </p>
    </form>

    <form id='entryinfo' method='post' action='normalizedcounts'>
      <p>
    <input type='submit' value="See politics-to-subreddit raw counts by normalized ranking..."/>
       </p>
    </form>

    <form id='entryinfo' method='post' action='rankings'>
      <p>
  <input type='submit' value="See politics-to-subreddit frequency graph..."/>
       </p>
    </form>

    <form id='entryinfo' method='post' action='normalizedrankings'>
      <p>
  <input type='submit' value="See a politics-to-subreddit frequency graph by normalized ranking..."/>
       </p>
    </form>



    <div class="metanav">
      <h3>Select any number of subreddits and keywords and see how their frequencies change over time!</h3>
      <h4>(If left blank, they'll default to r/The_Donald and r/hillaryclinton, and 'trump' and 'clinton'.) </h4>
<form id='entryinfo' method='post' action='frequencies'>
<div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes()">
            <select>
              <option>Choose some subreddits!</option>
            </select>
            <div class="overSelect"></div>
          </div>
<div id="checkboxes">
<input type="checkbox" name="sub_select" value="politics" />r/politics<br>
<h4>2016 Presidential Candidates</h4>
<p>Republicans</p>
<input type="checkbox" name="sub_select" value="bencarson" />r/bencarson<br>
<input type="checkbox" name="sub_select" value="chrischristie" />r/chrischristie<br>
<input type="checkbox" name="sub_select" value="tedcruz" />r/tedcruz<br>
<input type="checkbox" name="sub_select" value="carly_fiorina" />r/carly_fiorina<br>
<input type="checkbox" name="sub_select" value="jindal" />r/jindal<br>
<input type="checkbox" name="sub_select" value="kasichforpresident" />r/kasichforpresident<br>
<input type="checkbox" name="sub_select" value="randpaul" />r/randpaul<br>
<input type="checkbox" name="sub_select" value="marco_rubio" />r/marco_rubio<br>
<input type="checkbox" name="sub_select" value="ricksantorum" />r/ricksantorum<br>
<input type="checkbox" name="sub_select" value="asktrumpsupporters" />r/asktrumpsupporters<br>
<input type="checkbox" name="sub_select" value="the_donald" />r/the_donald<br>
<p>Democrats</p>
<input type="checkbox" name="sub_select" value="hillaryclinton" />r/hillaryclinton<br>
<input type="checkbox" name="sub_select" value="hillaryforamerica" />r/hillaryforamerica<br>
<input type="checkbox" name="sub_select" value="martinomalley" />r/martinomalley<br>
<input type="checkbox" name="sub_select" value="sandersforpresident" />r/sandersforpresident<br>
<p>Third Party and Independents</p>
<input type="checkbox" name="sub_select" value="garyjohnson" />r/garyjohnson<br>
<input type="checkbox" name="sub_select" value="jillstein" />r/jillstein<br>
<input type="checkbox" name="sub_select" value="mcmullin" />r/mcmullin<br>
<h4>Partisan Subreddits</h4>
<p>In the center</p>
<input type="checkbox" name="sub_select" value="neutralpolitics" />r/neutralpolitics<br>
<input type="checkbox" name="sub_select" value="centrist" />r/centrist<br>
<input type="checkbox" name="sub_select" value="moderatepolitics" />r/moderatepolitics<br>
<input type="checkbox" name="sub_select" value="peoplesparty" />r/peoplesparty<br>
<p>On the left</p>
<input type="checkbox" name="sub_select" value="alltheleft" />r/alltheleft<br>
<input type="checkbox" name="sub_select" value="classical_liberals" />r/classical_liberals<br>
<input type="checkbox" name="sub_select" value="cornbreadliberals" />r/cornbreadliberals<br>
<input type="checkbox" name="sub_select" value="democrats" />r/democrats<br>
<input type="checkbox" name="sub_select" value="demsocialist" />r/demsocialist<br>
<input type="checkbox" name="sub_select" value="greenparty" />r/greenparty<br>
<input type="checkbox" name="sub_select" value="labor" />r/labor<br>
<input type="checkbox" name="sub_select" value="leftcommunism" />r/leftcommunism<br>
<input type="checkbox" name="sub_select" value="leninism" />r/leninism<br>
<input type="checkbox" name="sub_select" value="liberal" />r/liberal<br>
<input type="checkbox" name="sub_select" value="neoprogs" />r/neoprogs<br>
<input type="checkbox" name="sub_select" value="obama" />r/obama<br>
<input type="checkbox" name="sub_select" value="progressive" />r/progressive<br>
<input type="checkbox" name="sub_select" value="socialdemocracy" />r/socialdemocracy<br>
<input type="checkbox" name="sub_select" value="socialism" />r/socialism<br>
<p>On the right</p>
<input type="checkbox" name="sub_select" value="conservative" />r/conservative<br>
<input type="checkbox" name="sub_select" value="conservatives" />r/conservatives<br>
<input type="checkbox" name="sub_select" value="monarchism" />r/monarchism<br>
<input type="checkbox" name="sub_select" value="new_right" />r/new_right<br>
<input type="checkbox" name="sub_select" value="objectivism" />r/objectivism<br>
<input type="checkbox" name="sub_select" value="paleoconservative" />r/paleoconservative<br>
<input type="checkbox" name="sub_select" value="republican" />r/republican<br>
<input type="checkbox" name="sub_select" value="republicans" />r/republicans<br>
<input type="checkbox" name="sub_select" value="romney" />r/romney<br>
<input type="checkbox" name="sub_select" value="trueobjectivism" />r/trueobjectivism<br>
<p>Libertarian</p>
<input type="checkbox" name="sub_select" value="agorism" />r/agorism<br>
<input type="checkbox" name="sub_select" value="anarcho_capitalism" />r/anarcho_capitalism<br>
<input type="checkbox" name="sub_select" value="anarchobjectivism" />r/anarchobjectivism<br>
<input type="checkbox" name="sub_select" value="christian_ancaps" />r/christian_ancaps<br>
<input type="checkbox" name="sub_select" value="libertarian" />r/libertarian<br>
<input type="checkbox" name="sub_select" value="libertariandebates" />r/libertariandebates<br>
<input type="checkbox" name="sub_select" value="libertarianleft" />r/libertarianleft<br>
<input type="checkbox" name="sub_select" value="libertarianmeme" />r/libertarianmeme<br>
<input type="checkbox" name="sub_select" value="libertariansocialism" />r/libertariansocialism<br>
<input type="checkbox" name="sub_select" value="libertarianwomen" />r/libertarianwomen<br>
<input type="checkbox" name="sub_select" value="paul" />r/paul<br>
<input type="checkbox" name="sub_select" value="ronpaul" />r/ronpaul<br>
<input type="checkbox" name="sub_select" value="truelibertarian" />r/truelibertarian<br>
<input type="checkbox" name="sub_select" value="voluntarism" />r/voluntarism<br>
<p>Communism</p>
<input type="checkbox" name="sub_select" value="communism" />r/communism<br>
<input type="checkbox" name="sub_select" value="debateacommunist" />r/debateacommunist<br>
<input type="checkbox" name="sub_select" value="debatecommunism" />r/debatecommunism<br>
<input type="checkbox" name="sub_select" value="leftcommunism" />r/leftcommunism<br>
<p>Anarchism</p>
<input type="checkbox" name="sub_select" value="anarchism" />r/anarchism<br>
<input type="checkbox" name="sub_select" value="anarchistnews" />r/anarchistnews<br>
<input type="checkbox" name="sub_select" value="anarchy101" />r/anarchy101<br>
<input type="checkbox" name="sub_select" value="crimethinccollective" />r/crimethinccollective<br>
<input type="checkbox" name="sub_select" value="green_anarchism" />r/green_anarchism<br>
<input type="checkbox" name="sub_select" value="libertariansocialism" />r/libertariansocialism<br>
<input type="checkbox" name="sub_select" value="libertarianleft" />r/libertarianleft<br>
<p>Other Political Parties</p>
<input type="checkbox" name="sub_select" value="futuristparty" />r/futuristparty<br>
<input type="checkbox" name="sub_select" value="pirateparty" />r/pirateparty<br>
<input type="checkbox" name="sub_select" value="bullmooseparty" />r/bullmooseparty<br>
<h4>Political Issues and Causes</h4>
<input type="checkbox" name="sub_select" value="acta" />r/acta<br>
<input type="checkbox" name="sub_select" value="antiwar" />r/antiwar<br>
<input type="checkbox" name="sub_select" value="bad_cop_no_donut" />r/bad_cop_no_donut<br>
<input type="checkbox" name="sub_select" value="badgovnofreedom" />r/badgovnofreedom<br>
<input type="checkbox" name="sub_select" value="basicincome" />r/basicincome<br>
<input type="checkbox" name="sub_select" value="cispa" />r/cispa<br>
<input type="checkbox" name="sub_select" value="democracy" />r/democracy<br>
<input type="checkbox" name="sub_select" value="endlesswar" />r/endlesswar<br>
<input type="checkbox" name="sub_select" value="enoughpaulspam" />r/enoughpaulspam<br>
<input type="checkbox" name="sub_select" value="enoughobamaspam" />r/enoughobamaspam<br>
<input type="checkbox" name="sub_select" value="environment" />r/environment<br>
<input type="checkbox" name="sub_select" value="fairtax" />r/fairtax<br>
<input type="checkbox" name="sub_select" value="flushthetpp" />r/flushthetpp<br>
<input type="checkbox" name="sub_select" value="evolutionreddit" />r/evolutionreddit<br>
<input type="checkbox" name="sub_select" value="firstamendment" />r/firstamendment<br>
<input type="checkbox" name="sub_select" value="good_cop_free_donut" />r/good_cop_free_donut<br>
<input type="checkbox" name="sub_select" value="greed" />r/greed<br>
<input type="checkbox" name="sub_select" value="green" />r/green<br>
<input type="checkbox" name="sub_select" value="gunpolitics" />r/gunpolitics<br>
<input type="checkbox" name="sub_select" value="gunsarecool" />r/gunsarecool<br>
<input type="checkbox" name="sub_select" value="humanrights" />r/humanrights<br>
<input type="checkbox" name="sub_select" value="labor" />r/labor<br>
<input type="checkbox" name="sub_select" value="liberty" />r/liberty<br>
<input type="checkbox" name="sub_select" value="nsa" />r/nsa<br>
<input type="checkbox" name="sub_select" value="nsaleaks" />r/nsaleaks<br>
<input type="checkbox" name="sub_select" value="rpac" />r/rpac<br>
<input type="checkbox" name="sub_select" value="politicalactivism" />r/politicalactivism<br>
<input type="checkbox" name="sub_select" value="privacy" />r/privacy<br>
<input type="checkbox" name="sub_select" value="prochoice" />r/prochoice<br>
<input type="checkbox" name="sub_select" value="progun" />r/progun<br>
<input type="checkbox" name="sub_select" value="restorethefourth" />r/restorethefourth<br>
<input type="checkbox" name="sub_select" value="rootstrikers" />r/rootstrikers<br>
<input type="checkbox" name="sub_select" value="savetheconstitution" />r/savetheconstitution<br>
<input type="checkbox" name="sub_select" value="socialdemocracy" />r/socialdemocracy<br>
<input type="checkbox" name="sub_select" value="sopa" />r/sopa<br>
<input type="checkbox" name="sub_select" value="supportthetpp" />r/supportthetpp<br>
<input type="checkbox" name="sub_select" value="wikileaks" />r/wikileaks<br>
<h4>Election Themed</h4>
<input type="checkbox" name="sub_select" value="2012elections" />r/2012elections<br>
<input type="checkbox" name="sub_select" value="2016_elections" />r/2016_elections<br>
<input type="checkbox" name="sub_select" value="americanselect" />r/americanselect<br>
<input type="checkbox" name="sub_select" value="campaigns" />r/campaigns<br>
<input type="checkbox" name="sub_select" value="electionpolls" />r/electionpolls<br>
<input type="checkbox" name="sub_select" value="electionreform" />r/electionreform<br>
<input type="checkbox" name="sub_select" value="elections" />r/elections<br>
<input type="checkbox" name="sub_select" value="forecast2016" />r/forecast2016<br>
<input type="checkbox" name="sub_select" value="peoplesparty" />r/peoplesparty<br>
<input type="checkbox" name="sub_select" value="runforit" />r/runforit<br>
<input type="checkbox" name="sub_select" value="voting" />r/voting<br>
<h4>State Specific</h4>
<input type="checkbox" name="sub_select" value="flgovernment" />r/flgovernment<br>
<input type="checkbox" name="sub_select" value="illinoispolitics" />r/illinoispolitics<br>
<input type="checkbox" name="sub_select" value="masspolitics" />r/masspolitics<br>
<input type="checkbox" name="sub_select" value="missouripolitics" />r/missouripolitics<br>
<input type="checkbox" name="sub_select" value="utahpolitics" />r/utahpolitics<br>
<input type="checkbox" name="sub_select" value="virginiapolitics" />r/virginiapolitics<br>
<h4>General Interest</h4>
<input type="checkbox" name="sub_select" value="americangovernment" />r/americangovernment<br>
<input type="checkbox" name="sub_select" value="americanpolitics" />r/americanpolitics<br>
<input type="checkbox" name="sub_select" value="anythinggoesnews" />r/anythinggoesnews<br>
<input type="checkbox" name="sub_select" value="ask_political_science" />r/ask_political_science<br>
<input type="checkbox" name="sub_select" value="ask_politics" />r/ask_politics<br>
<input type="checkbox" name="sub_select" value="authoritarian" />r/authoritarian<br>
<input type="checkbox" name="sub_select" value="comparative" />r/comparative<br>
<input type="checkbox" name="sub_select" value="conspiracy" />r/conspiracy<br>
<input type="checkbox" name="sub_select" value="conspiratard" />r/conspiratard<br>
<input type="checkbox" name="sub_select" value="descentintotyranny" />r/descentintotyranny<br>
<input type="checkbox" name="sub_select" value="debatefascism" />r/debatefascism<br>
<input type="checkbox" name="sub_select" value="doctorswithoutborders" />r/doctorswithoutborders<br>
<input type="checkbox" name="sub_select" value="government" />r/government<br>
<input type="checkbox" name="sub_select" value="history" />r/history<br>
<input type="checkbox" name="sub_select" value="humanrights" />r/humanrights<br>
<input type="checkbox" name="sub_select" value="iwantout" />r/iwantout<br>
<input type="checkbox" name="sub_select" value="iww" />r/iww<br>
<input type="checkbox" name="sub_select" value="justice" />r/justice<br>
<input type="checkbox" name="sub_select" value="news" />r/news<br>
<input type="checkbox" name="sub_select" value="politic" />r/politic<br>
<input type="checkbox" name="sub_select" value="politicaldiscussion" />r/politicaldiscussion<br>
<input type="checkbox" name="sub_select" value="politicalfactchecking" />r/politicalfactchecking<br>
<input type="checkbox" name="sub_select" value="politicalhumor" />r/politicalhumor<br>
<input type="checkbox" name="sub_select" value="politicalmoderation" />r/politicalmoderation<br>
<input type="checkbox" name="sub_select" value="politicalphilosophy" />r/politicalphilosophy<br>
<input type="checkbox" name="sub_select" value="politicalpics" />r/politicalpics<br>
<input type="checkbox" name="sub_select" value="politicalpredictions" />r/politicalpredictions<br>
<input type="checkbox" name="sub_select" value="politicalscience" />r/politicalscience<br>
<input type="checkbox" name="sub_select" value="politicaltweets" />r/politicaltweets<br>
<input type="checkbox" name="sub_select" value="politicsdebate" />r/politicsdebate<br>
<input type="checkbox" name="sub_select" value="politicsinamerica" />r/politicsinamerica<br>
<input type="checkbox" name="sub_select" value="pragmatism" />r/pragmatism<br>
<input type="checkbox" name="sub_select" value="republicofpolitics" />r/republicofpolitics<br>
<input type="checkbox" name="sub_select" value="rvbdebates" />r/rvbdebates<br>
<input type="checkbox" name="sub_select" value="stateoftheunion" />r/stateoftheunion<br>
<input type="checkbox" name="sub_select" value="techpolitics" />r/techpolitics<br>
<input type="checkbox" name="sub_select" value="thirdpartyroundtable" />r/thirdpartyroundtable<br>
<input type="checkbox" name="sub_select" value="truepolitics" />r/truepolitics<br>
<input type="checkbox" name="sub_select" value="usanews" />r/usanews<br>
<input type="checkbox" name="sub_select" value="uspolitics" />r/uspolitics<br>
<input type="checkbox" name="sub_select" value="watchingcongress" />r/watchingcongress<br>
<input type="checkbox" name="sub_select" value="wealth" />r/wealth<br>
<input type="checkbox" name="sub_select" value="worldunity" />r/worldunity<br>
<input type="checkbox" name="sub_select" value="yro" />r/yro<br>
<h4>Reddit Activist Network</h4>
<input type="checkbox" name="sub_select" value="alloccupy" />r/alloccupy<br>
<input type="checkbox" name="sub_select" value="acta" />r/acta<br>
<input type="checkbox" name="sub_select" value="anonymous" />r/anonymous<br>
<input type="checkbox" name="sub_select" value="anonops" />r/anonops<br>
<input type="checkbox" name="sub_select" value="auinternetaccess" />r/auinternetaccess<br>
<input type="checkbox" name="sub_select" value="bad_cop_no_donut" />r/bad_cop_no_donut<br>
<input type="checkbox" name="sub_select" value="boycotthollywood" />r/boycotthollywood<br>
<input type="checkbox" name="sub_select" value="cascadia" />r/cascadia<br>
<input type="checkbox" name="sub_select" value="censorship" />r/censorship<br>
<input type="checkbox" name="sub_select" value="darknetplan" />r/darknetplan<br>
<input type="checkbox" name="sub_select" value="evolutionreddit" />r/evolutionreddit<br>
<input type="checkbox" name="sub_select" value="fia" />r/fia<br>
<input type="checkbox" name="sub_select" value="hackbloc" />r/hackbloc<br>
<input type="checkbox" name="sub_select" value="internetdeclaration" />r/internetdeclaration<br>
<input type="checkbox" name="sub_select" value="internetdefense" />r/internetdefense<br>
<input type="checkbox" name="sub_select" value="israelexposed" />r/israelexposed<br>
<input type="checkbox" name="sub_select" value="killhollywood" />r/killhollywood<br>
<input type="checkbox" name="sub_select" value="meshnet" />r/meshnet<br>
<input type="checkbox" name="sub_select" value="mensrights" />r/mensrights<br>
<input type="checkbox" name="sub_select" value="occupy" />r/occupy<br>
<input type="checkbox" name="sub_select" value="occupywallstreet" />r/occupywallstreet<br>
<input type="checkbox" name="sub_select" value="opelectronicleviathan" />r/opelectronicleviathan<br>
<input type="checkbox" name="sub_select" value="operationgrabass" />r/operationgrabass<br>
<input type="checkbox" name="sub_select" value="operationpullryan" />r/operationpullryan<br>
<input type="checkbox" name="sub_select" value="petition" />r/petition<br>
<input type="checkbox" name="sub_select" value="projectfactcheck" />r/projectfactcheck<br>
<input type="checkbox" name="sub_select" value="projectoverhaul" />r/projectoverhaul<br>
<input type="checkbox" name="sub_select" value="redditactivism" />r/redditactivism<br>
<input type="checkbox" name="sub_select" value="rpac" />r/rpac<br>
<input type="checkbox" name="sub_select" value="rwb" />r/rwb<br>
<input type="checkbox" name="sub_select" value="smallrevolutions" />r/smallrevolutions<br>
<input type="checkbox" name="sub_select" value="sopa" />r/sopa<br>
<input type="checkbox" name="sub_select" value="testpac" />r/testpac<br>
<input type="checkbox" name="sub_select" value="thewarondrugs" />r/thewarondrugs<br>
<input type="checkbox" name="sub_select" value="timetolegalize" />r/timetolegalize<br>
<input type="checkbox" name="sub_select" value="troubledteens" />r/troubledteens<br>
<input type="checkbox" name="sub_select" value="union" />r/union<br>
<h4>Economics</h4>
<input type="checkbox" name="sub_select" value="austrian_economics" />r/austrian_economics<br>
<input type="checkbox" name="sub_select" value="business" />r/business<br>
<input type="checkbox" name="sub_select" value="economics" />r/economics<br>
<input type="checkbox" name="sub_select" value="internationalbusiness" />r/internationalbusiness<br>
  </div>
  </div>
<p>   </p>
        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes2()">
            <select>
              <option>Choose some keywords!</option>
            </select>
            <div class="overSelect"></div>
          </div>
<div id="checkboxes2">
<input type="checkbox" name="keyword_select" value="aca" />aca<br>
<input type="checkbox" name="keyword_select" value="accusations" />accusations<br>
<input type="checkbox" name="keyword_select" value="action" />action<br>
<input type="checkbox" name="keyword_select" value="actually" />actually<br>
<input type="checkbox" name="keyword_select" value="agree" />agree<br>
<input type="checkbox" name="keyword_select" value="america" />america<br>
<input type="checkbox" name="keyword_select" value="american" />american<br>
<input type="checkbox" name="keyword_select" value="aren" />aren<br>
<input type="checkbox" name="keyword_select" value="argument" />argument<br>
<input type="checkbox" name="keyword_select" value="article" />article<br>
<input type="checkbox" name="keyword_select" value="assange" />assange<br>
<input type="checkbox" name="keyword_select" value="attack" />attack<br>
<input type="checkbox" name="keyword_select" value="automatically" />automatically<br>
<input type="checkbox" name="keyword_select" value="bad" />bad<br>
<input type="checkbox" name="keyword_select" value="ban" />ban<br>
<input type="checkbox" name="keyword_select" value="banks" />banks<br>
<input type="checkbox" name="keyword_select" value="beck" />beck<br>
<input type="checkbox" name="keyword_select" value="believe" />believe<br>
<input type="checkbox" name="keyword_select" value="bernie" />bernie<br>
<input type="checkbox" name="keyword_select" value="best" />best<br>
<input type="checkbox" name="keyword_select" value="better" />better<br>
<input type="checkbox" name="keyword_select" value="biden" />biden<br>
<input type="checkbox" name="keyword_select" value="big" />big<br>
<input type="checkbox" name="keyword_select" value="black" />black<br>
<input type="checkbox" name="keyword_select" value="bot" />bot<br>
<input type="checkbox" name="keyword_select" value="bp" />bp<br>
<input type="checkbox" name="keyword_select" value="bush" />bush<br>
<input type="checkbox" name="keyword_select" value="business" />business<br>
<input type="checkbox" name="keyword_select" value="campaign" />campaign<br>
<input type="checkbox" name="keyword_select" value="candidate" />candidate<br>
<input type="checkbox" name="keyword_select" value="candidates" />candidates<br>
<input type="checkbox" name="keyword_select" value="care" />care<br>
<input type="checkbox" name="keyword_select" value="carson" />carson<br>
<input type="checkbox" name="keyword_select" value="case" />case<br>
<input type="checkbox" name="keyword_select" value="change" />change<br>
<input type="checkbox" name="keyword_select" value="cheney" />cheney<br>
<input type="checkbox" name="keyword_select" value="civil" />civil<br>
<input type="checkbox" name="keyword_select" value="clinton" />clinton<br>
<input type="checkbox" name="keyword_select" value="come" />come<br>
<input type="checkbox" name="keyword_select" value="comey" />comey<br>
<input type="checkbox" name="keyword_select" value="comment" />comment<br>
<input type="checkbox" name="keyword_select" value="comments" />comments<br>
<input type="checkbox" name="keyword_select" value="companies" />companies<br>
<input type="checkbox" name="keyword_select" value="company" />company<br>
<input type="checkbox" name="keyword_select" value="compose" />compose<br>
<input type="checkbox" name="keyword_select" value="concerns" />concerns<br>
<input type="checkbox" name="keyword_select" value="congress" />congress<br>
<input type="checkbox" name="keyword_select" value="constitution" />constitution<br>
<input type="checkbox" name="keyword_select" value="contact" />contact<br>
<input type="checkbox" name="keyword_select" value="control" />control<br>
<input type="checkbox" name="keyword_select" value="cop" />cop<br>
<input type="checkbox" name="keyword_select" value="cops" />cops<br>
<input type="checkbox" name="keyword_select" value="corporations" />corporations<br>
<input type="checkbox" name="keyword_select" value="cost" />cost<br>
<input type="checkbox" name="keyword_select" value="country" />country<br>
<input type="checkbox" name="keyword_select" value="cruz" />cruz<br>
<input type="checkbox" name="keyword_select" value="cuts" />cuts<br>
<input type="checkbox" name="keyword_select" value="day" />day<br>
<input type="checkbox" name="keyword_select" value="debate" />debate<br>
<input type="checkbox" name="keyword_select" value="debt" />debt<br>
<input type="checkbox" name="keyword_select" value="delegates" />delegates<br>
<input type="checkbox" name="keyword_select" value="democratic" />democratic<br>
<input type="checkbox" name="keyword_select" value="democrats" />democrats<br>
<input type="checkbox" name="keyword_select" value="did" />did<br>
<input type="checkbox" name="keyword_select" value="didn" />didn<br>
<input type="checkbox" name="keyword_select" value="discussion" />discussion<br>
<input type="checkbox" name="keyword_select" value="dnc" />dnc<br>
<input type="checkbox" name="keyword_select" value="does" />does<br>
<input type="checkbox" name="keyword_select" value="doesn" />doesn<br>
<input type="checkbox" name="keyword_select" value="doing" />doing<br>
<input type="checkbox" name="keyword_select" value="don" />don<br>
<input type="checkbox" name="keyword_select" value="donald" />donald<br>
<input type="checkbox" name="keyword_select" value="economy" />economy<br>
<input type="checkbox" name="keyword_select" value="election" />election<br>
<input type="checkbox" name="keyword_select" value="emails" />emails<br>
<input type="checkbox" name="keyword_select" value="evidence" />evidence<br>
<input type="checkbox" name="keyword_select" value="exactly" />exactly<br>
<input type="checkbox" name="keyword_select" value="fact" />fact<br>
<input type="checkbox" name="keyword_select" value="fake" />fake<br>
<input type="checkbox" name="keyword_select" value="far" />far<br>
<input type="checkbox" name="keyword_select" value="fbi" />fbi<br>
<input type="checkbox" name="keyword_select" value="federal" />federal<br>
<input type="checkbox" name="keyword_select" value="feel" />feel<br>
<input type="checkbox" name="keyword_select" value="food" />food<br>
<input type="checkbox" name="keyword_select" value="fox" />fox<br>
<input type="checkbox" name="keyword_select" value="free" />free<br>
<input type="checkbox" name="keyword_select" value="fuck" />fuck<br>
<input type="checkbox" name="keyword_select" value="fucking" />fucking<br>
<input type="checkbox" name="keyword_select" value="gay" />gay<br>
<input type="checkbox" name="keyword_select" value="general" />general<br>
<input type="checkbox" name="keyword_select" value="getting" />getting<br>
<input type="checkbox" name="keyword_select" value="glenn" />glenn<br>
<input type="checkbox" name="keyword_select" value="god" />god<br>
<input type="checkbox" name="keyword_select" value="going" />going<br>
<input type="checkbox" name="keyword_select" value="good" />good<br>
<input type="checkbox" name="keyword_select" value="gop" />gop<br>
<input type="checkbox" name="keyword_select" value="got" />got<br>
<input type="checkbox" name="keyword_select" value="government" />government<br>
<input type="checkbox" name="keyword_select" value="great" />great<br>
<input type="checkbox" name="keyword_select" value="gt" />gt<br>
<input type="checkbox" name="keyword_select" value="gun" />gun<br>
<input type="checkbox" name="keyword_select" value="guns" />guns<br>
<input type="checkbox" name="keyword_select" value="guy" />guy<br>
<input type="checkbox" name="keyword_select" value="hamas" />hamas<br>
<input type="checkbox" name="keyword_select" value="hate" />hate<br>
<input type="checkbox" name="keyword_select" value="health" />health<br>
<input type="checkbox" name="keyword_select" value="healthcare" />healthcare<br>
<input type="checkbox" name="keyword_select" value="hillary" />hillary<br>
<input type="checkbox" name="keyword_select" value="hope" />hope<br>
<input type="checkbox" name="keyword_select" value="house" />house<br>
<input type="checkbox" name="keyword_select" value="id" />id<br>
<input type="checkbox" name="keyword_select" value="idea" />idea<br>
<input type="checkbox" name="keyword_select" value="ideas" />ideas<br>
<input type="checkbox" name="keyword_select" value="income" />income<br>
<input type="checkbox" name="keyword_select" value="information" />information<br>
<input type="checkbox" name="keyword_select" value="insurance" />insurance<br>
<input type="checkbox" name="keyword_select" value="internet" />internet<br>
<input type="checkbox" name="keyword_select" value="investigation" />investigation<br>
<input type="checkbox" name="keyword_select" value="iran" />iran<br>
<input type="checkbox" name="keyword_select" value="iraq" />iraq<br>
<input type="checkbox" name="keyword_select" value="isn" />isn<br>
<input type="checkbox" name="keyword_select" value="israel" />israel<br>
<input type="checkbox" name="keyword_select" value="issue" />issue<br>
<input type="checkbox" name="keyword_select" value="jews" />jews<br>
<input type="checkbox" name="keyword_select" value="job" />job<br>
<input type="checkbox" name="keyword_select" value="jobs" />jobs<br>
<input type="checkbox" name="keyword_select" value="joe" />joe<br>
<input type="checkbox" name="keyword_select" value="just" />just<br>
<input type="checkbox" name="keyword_select" value="kill" />kill<br>
<input type="checkbox" name="keyword_select" value="know" />know<br>
<input type="checkbox" name="keyword_select" value="kucinich" />kucinich<br>
<input type="checkbox" name="keyword_select" value="law" />law<br>
<input type="checkbox" name="keyword_select" value="laws" />laws<br>
<input type="checkbox" name="keyword_select" value="left" />left<br>
<input type="checkbox" name="keyword_select" value="let" />let<br>
<input type="checkbox" name="keyword_select" value="liberal" />liberal<br>
<input type="checkbox" name="keyword_select" value="life" />life<br>
<input type="checkbox" name="keyword_select" value="like" />like<br>
<input type="checkbox" name="keyword_select" value="literally" />literally<br>
<input type="checkbox" name="keyword_select" value="little" />little<br>
<input type="checkbox" name="keyword_select" value="live" />live<br>
<input type="checkbox" name="keyword_select" value="ll" />ll<br>
<input type="checkbox" name="keyword_select" value="lol" />lol<br>
<input type="checkbox" name="keyword_select" value="long" />long<br>
<input type="checkbox" name="keyword_select" value="look" />look<br>
<input type="checkbox" name="keyword_select" value="lost" />lost<br>
<input type="checkbox" name="keyword_select" value="lot" />lot<br>
<input type="checkbox" name="keyword_select" value="love" />love<br>
<input type="checkbox" name="keyword_select" value="make" />make<br>
<input type="checkbox" name="keyword_select" value="makes" />makes<br>
<input type="checkbox" name="keyword_select" value="making" />making<br>
<input type="checkbox" name="keyword_select" value="man" />man<br>
<input type="checkbox" name="keyword_select" value="market" />market<br>
<input type="checkbox" name="keyword_select" value="marriage" />marriage<br>
<input type="checkbox" name="keyword_select" value="maybe" />maybe<br>
<input type="checkbox" name="keyword_select" value="mccain" />mccain<br>
<input type="checkbox" name="keyword_select" value="mean" />mean<br>
<input type="checkbox" name="keyword_select" value="media" />media<br>
<input type="checkbox" name="keyword_select" value="message" />message<br>
<input type="checkbox" name="keyword_select" value="military" />military<br>
<input type="checkbox" name="keyword_select" value="minimum" />minimum<br>
<input type="checkbox" name="keyword_select" value="mitt" />mitt<br>
<input type="checkbox" name="keyword_select" value="moderators" />moderators<br>
<input type="checkbox" name="keyword_select" value="money" />money<br>
<input type="checkbox" name="keyword_select" value="moore" />moore<br>
<input type="checkbox" name="keyword_select" value="mosque" />mosque<br>
<input type="checkbox" name="keyword_select" value="movement" />movement<br>
<input type="checkbox" name="keyword_select" value="nas" />nas<br>
<input type="checkbox" name="keyword_select" value="nazi" />nazi<br>
<input type="checkbox" name="keyword_select" value="nazis" />nazis<br>
<input type="checkbox" name="keyword_select" value="need" />need<br>
<input type="checkbox" name="keyword_select" value="new" />new<br>
<input type="checkbox" name="keyword_select" value="news" />news<br>
<input type="checkbox" name="keyword_select" value="ni" />ni<br>
<input type="checkbox" name="keyword_select" value="nif" />nif<br>
<input type="checkbox" name="keyword_select" value="nin" />nin<br>
<input type="checkbox" name="keyword_select" value="nsa" />nsa<br>
<input type="checkbox" name="keyword_select" value="nthe" />nthe<br>
<input type="checkbox" name="keyword_select" value="nurl" />nurl<br>
<input type="checkbox" name="keyword_select" value="obama" />obama<br>
<input type="checkbox" name="keyword_select" value="obamacare" />obamacare<br>
<input type="checkbox" name="keyword_select" value="officer" />officer<br>
<input type="checkbox" name="keyword_select" value="oh" />oh<br>
<input type="checkbox" name="keyword_select" value="oil" />oil<br>
<input type="checkbox" name="keyword_select" value="old" />old<br>
<input type="checkbox" name="keyword_select" value="option" />option<br>
<input type="checkbox" name="keyword_select" value="ows" />ows<br>
<input type="checkbox" name="keyword_select" value="palin" />palin<br>
<input type="checkbox" name="keyword_select" value="party" />party<br>
<input type="checkbox" name="keyword_select" value="paul" />paul<br>
<input type="checkbox" name="keyword_select" value="pay" />pay<br>
<input type="checkbox" name="keyword_select" value="people" />people<br>
<input type="checkbox" name="keyword_select" value="performed" />performed<br>
<input type="checkbox" name="keyword_select" value="person" />person<br>
<input type="checkbox" name="keyword_select" value="personal" />personal<br>
<input type="checkbox" name="keyword_select" value="plan" />plan<br>
<input type="checkbox" name="keyword_select" value="point" />point<br>
<input type="checkbox" name="keyword_select" value="police" />police<br>
<input type="checkbox" name="keyword_select" value="political" />political<br>
<input type="checkbox" name="keyword_select" value="politics" />politics<br>
<input type="checkbox" name="keyword_select" value="poor" />poor<br>
<input type="checkbox" name="keyword_select" value="post" />post<br>
<input type="checkbox" name="keyword_select" value="power" />power<br>
<input type="checkbox" name="keyword_select" value="president" />president<br>
<input type="checkbox" name="keyword_select" value="pretty" />pretty<br>
<input type="checkbox" name="keyword_select" value="primary" />primary<br>
<input type="checkbox" name="keyword_select" value="private" />private<br>
<input type="checkbox" name="keyword_select" value="probably" />probably<br>
<input type="checkbox" name="keyword_select" value="problem" />problem<br>
<input type="checkbox" name="keyword_select" value="protest" />protest<br>
<input type="checkbox" name="keyword_select" value="public" />public<br>
<input type="checkbox" name="keyword_select" value="question" />question<br>
<input type="checkbox" name="keyword_select" value="questions" />questions<br>
<input type="checkbox" name="keyword_select" value="racist" />racist<br>
<input type="checkbox" name="keyword_select" value="read" />read<br>
<input type="checkbox" name="keyword_select" value="real" />real<br>
<input type="checkbox" name="keyword_select" value="really" />really<br>
<input type="checkbox" name="keyword_select" value="reason" />reason<br>
<input type="checkbox" name="keyword_select" value="reddit" />reddit<br>
<input type="checkbox" name="keyword_select" value="reform" />reform<br>
<input type="checkbox" name="keyword_select" value="refugees" />refugees<br>
<input type="checkbox" name="keyword_select" value="regarding" />regarding<br>
<input type="checkbox" name="keyword_select" value="religion" />religion<br>
<input type="checkbox" name="keyword_select" value="religious" />religious<br>
<input type="checkbox" name="keyword_select" value="reminder" />reminder<br>
<input type="checkbox" name="keyword_select" value="removal" />removal<br>
<input type="checkbox" name="keyword_select" value="removed" />removed<br>
<input type="checkbox" name="keyword_select" value="report" />report<br>
<input type="checkbox" name="keyword_select" value="republican" />republican<br>
<input type="checkbox" name="keyword_select" value="republicans" />republicans<br>
<input type="checkbox" name="keyword_select" value="result" />result<br>
<input type="checkbox" name="keyword_select" value="rich" />rich<br>
<input type="checkbox" name="keyword_select" value="right" />right<br>
<input type="checkbox" name="keyword_select" value="rights" />rights<br>
<input type="checkbox" name="keyword_select" value="romney" />romney<br>
<input type="checkbox" name="keyword_select" value="ron" />ron<br>
<input type="checkbox" name="keyword_select" value="rubio" />rubio<br>
<input type="checkbox" name="keyword_select" value="rules" />rules<br>
<input type="checkbox" name="keyword_select" value="rush" />rush<br>
<input type="checkbox" name="keyword_select" value="russia" />russia<br>
<input type="checkbox" name="keyword_select" value="russian" />russian<br>
<input type="checkbox" name="keyword_select" value="ryan" />ryan<br>
<input type="checkbox" name="keyword_select" value="said" />said<br>
<input type="checkbox" name="keyword_select" value="sanders" />sanders<br>
<input type="checkbox" name="keyword_select" value="santorum" />santorum<br>
<input type="checkbox" name="keyword_select" value="say" />say<br>
<input type="checkbox" name="keyword_select" value="saying" />saying<br>
<input type="checkbox" name="keyword_select" value="says" />says<br>
<input type="checkbox" name="keyword_select" value="school" />school<br>
<input type="checkbox" name="keyword_select" value="security" />security<br>
<input type="checkbox" name="keyword_select" value="shill" />shill<br>
<input type="checkbox" name="keyword_select" value="shit" />shit<br>
<input type="checkbox" name="keyword_select" value="shutdown" />shutdown<br>
<input type="checkbox" name="keyword_select" value="sopa" />sopa<br>
<input type="checkbox" name="keyword_select" value="speech" />speech<br>
<input type="checkbox" name="keyword_select" value="spending" />spending<br>
<input type="checkbox" name="keyword_select" value="state" />state<br>
<input type="checkbox" name="keyword_select" value="states" />states<br>
<input type="checkbox" name="keyword_select" value="stimulus" />stimulus<br>
<input type="checkbox" name="keyword_select" value="stop" />stop<br>
<input type="checkbox" name="keyword_select" value="street" />street<br>
<input type="checkbox" name="keyword_select" value="stupid" />stupid<br>
<input type="checkbox" name="keyword_select" value="subreddit" />subreddit<br>
<input type="checkbox" name="keyword_select" value="support" />support<br>
<input type="checkbox" name="keyword_select" value="supporters" />supporters<br>
<input type="checkbox" name="keyword_select" value="sure" />sure<br>
<input type="checkbox" name="keyword_select" value="syria" />syria<br>
<input type="checkbox" name="keyword_select" value="talking" />talking<br>
<input type="checkbox" name="keyword_select" value="tax" />tax<br>
<input type="checkbox" name="keyword_select" value="taxes" />taxes<br>
<input type="checkbox" name="keyword_select" value="tea" />tea<br>
<input type="checkbox" name="keyword_select" value="tell" />tell<br>
<input type="checkbox" name="keyword_select" value="thanks" />thanks<br>
<input type="checkbox" name="keyword_select" value="thing" />thing<br>
<input type="checkbox" name="keyword_select" value="things" />things<br>
<input type="checkbox" name="keyword_select" value="think" />think<br>
<input type="checkbox" name="keyword_select" value="thought" />thought<br>
<input type="checkbox" name="keyword_select" value="time" />time<br>
<input type="checkbox" name="keyword_select" value="today" />today<br>
<input type="checkbox" name="keyword_select" value="torture" />torture<br>
<input type="checkbox" name="keyword_select" value="troll" />troll<br>
<input type="checkbox" name="keyword_select" value="true" />true<br>
<input type="checkbox" name="keyword_select" value="trump" />trump<br>
<input type="checkbox" name="keyword_select" value="trying" />trying<br>
<input type="checkbox" name="keyword_select" value="tsa" />tsa<br>
<input type="checkbox" name="keyword_select" value="understand" />understand<br>
<input type="checkbox" name="keyword_select" value="union" />union<br>
<input type="checkbox" name="keyword_select" value="unions" />unions<br>
<input type="checkbox" name="keyword_select" value="url" />url<br>
<input type="checkbox" name="keyword_select" value="use" />use<br>
<input type="checkbox" name="keyword_select" value="used" />used<br>
<input type="checkbox" name="keyword_select" value="user" />user<br>
<input type="checkbox" name="keyword_select" value="users" />users<br>
<input type="checkbox" name="keyword_select" value="ve" />ve<br>
<input type="checkbox" name="keyword_select" value="video" />video<br>
<input type="checkbox" name="keyword_select" value="vote" />vote<br>
<input type="checkbox" name="keyword_select" value="voted" />voted<br>
<input type="checkbox" name="keyword_select" value="voter" />voter<br>
<input type="checkbox" name="keyword_select" value="voters" />voters<br>
<input type="checkbox" name="keyword_select" value="votes" />votes<br>
<input type="checkbox" name="keyword_select" value="voting" />voting<br>
<input type="checkbox" name="keyword_select" value="wage" />wage<br>
<input type="checkbox" name="keyword_select" value="wall" />wall<br>
<input type="checkbox" name="keyword_select" value="want" />want<br>
<input type="checkbox" name="keyword_select" value="war" />war<br>
<input type="checkbox" name="keyword_select" value="water" />water<br>
<input type="checkbox" name="keyword_select" value="way" />way<br>
<input type="checkbox" name="keyword_select" value="weapons" />weapons<br>
<input type="checkbox" name="keyword_select" value="weiner" />weiner<br>
<input type="checkbox" name="keyword_select" value="white" />white<br>
<input type="checkbox" name="keyword_select" value="wikileaks" />wikileaks<br>
<input type="checkbox" name="keyword_select" value="win" />win<br>
<input type="checkbox" name="keyword_select" value="women" />women<br>
<input type="checkbox" name="keyword_select" value="won" />won<br>
<input type="checkbox" name="keyword_select" value="work" />work<br>
<input type="checkbox" name="keyword_select" value="world" />world<br>
<input type="checkbox" name="keyword_select" value="wrong" />wrong<br>
<input type="checkbox" name="keyword_select" value="yeah" />yeah<br>
<input type="checkbox" name="keyword_select" value="year" />year<br>
<input type="checkbox" name="keyword_select" value="years" />years<br>
<input type="checkbox" name="keyword_select" value="yes" />yes<br>
<input type="checkbox" name="keyword_select" value="zimmerman" />zimmerman<br>
</div>
</div>
  <h4>Here are some other options to ensure maximum graphability. </h4>
	 <input type="text" name="startdate" placeholder="2011-11-01"> Custom startdate?<br>
	 <input type="text" name="enddate" placeholder="2017-11-30"> Custom enddate?<br>
        <p/>
   <input type="checkbox" name="option" value="smooth"> Smooth the graphs?<br>
        <p/>
   <input type="checkbox" name="option" value="normalize"> Normalize by total count?<br>
   <input type="checkbox" name="option" value="quantile"> Remove outliers?<br>
        <p/>
	 <input type="checkbox" name="option" value="difference"> Difference between TWO subreddits?<br>
        <p/>
   <input type="checkbox" name="option" value="cumsum"> Total cumulative sum?<br>
	   <p>
	   <input type='submit' value="Let's get graphing!"/>
	   </p>
	</form>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  <style>
  .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
  }
  #myInput {
      border-box: box-sizing;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
  }
  #myInput:focus {outline: 3px solid #ddd;}
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown a:hover {background-color: #ddd}
  .show {display:block;}
  .multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}
#checkboxes2 {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes2 label {
  display: block;
}
#checkboxes2 label:hover {
  background-color: #1e90ff;
}
  </style>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
var expanded1 = false;
function showCheckboxes(c) {
var checkboxes = document.getElementById("checkboxes");
if (!expanded1) {
  checkboxes.style.display = "block";
  expanded1 = true;
} else {
  checkboxes.style.display = "none";
  expanded1 = false;
}
}
var expanded2 = false;
function showCheckboxes2() {
var checkboxes = document.getElementById("checkboxes2");
if (!expanded2) {
  checkboxes.style.display = "block";
  expanded2 = true;
} else {
  checkboxes.style.display = "none";
  expanded2 = false;
}
}
  </script>
</html>
