<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Data Incubator Capstone project by Jay Kaiser.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Jay Kaiser - Reddit Politics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="./static", filename='style.css'">
  </head>
  <body>

    <form id='entryinfo' method='post' action='UsersPlotting'>
      <p>
  <input type='submit' value="See user-rankings graph..."/>
       </p>
    </form>

    <div class="metanav">
      <h3>Select any number of subreddits and keywords and see how their frequencies change over time!</h3>
      <h4>(If left blank, they'll default to r/The_Donald and r/hillaryclinton, and 'trump' and 'clinton'.) </h4>

<form id='entryinfo' method='post' action='frequencies'>

<div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select>
        <option>Choose some subreddits!</option>
      </select>
      <div class="overSelect"></div>
    </div>

<div id="checkboxes">

<input type="checkbox" name="sub_select" id="politics" />r/politics<br>

<h4>2016 Presidential Candidates</h4>
<p>Republicans</p>
<input type="checkbox" name="sub_select" id="bencarson" />r/bencarson<br>
<input type="checkbox" name="sub_select" id="chrischristie" />r/chrischristie<br>
<input type="checkbox" name="sub_select" id="tedcruz" />r/tedcruz<br>
<input type="checkbox" name="sub_select" id="carly_fiorina" />r/carly_fiorina<br>
<input type="checkbox" name="sub_select" id="jindal" />r/jindal<br>
<input type="checkbox" name="sub_select" id="kasichforpresident" />r/kasichforpresident<br>
<input type="checkbox" name="sub_select" id="randpaul" />r/randpaul<br>
<input type="checkbox" name="sub_select" id="marco_rubio" />r/marco_rubio<br>
<input type="checkbox" name="sub_select" id="ricksantorum" />r/ricksantorum<br>
<input type="checkbox" name="sub_select" id="asktrumpsupporters" />r/asktrumpsupporters<br>
<input type="checkbox" name="sub_select" id="the_donald" />r/the_donald<br>

<p>Democrats</p>
<input type="checkbox" name="sub_select" id="hillaryclinton" />r/hillaryclinton<br>
<input type="checkbox" name="sub_select" id="hillaryforamerica" />r/hillaryforamerica<br>
<input type="checkbox" name="sub_select" id="martinomalley" />r/martinomalley<br>
<input type="checkbox" name="sub_select" id="sandersforpresident" />r/sandersforpresident<br>

<p>Third Party and Independents</p>
<input type="checkbox" name="sub_select" id="garyjohnson" />r/garyjohnson<br>
<input type="checkbox" name="sub_select" id="jillstein" />r/jillstein<br>
<input type="checkbox" name="sub_select" id="mcmullin" />r/mcmullin<br>

<h4>Partisan Subreddits</h4>
<p>In the center</p>
<input type="checkbox" name="sub_select" id="neutralpolitics" />r/neutralpolitics<br>
<input type="checkbox" name="sub_select" id="centrist" />r/centrist<br>
<input type="checkbox" name="sub_select" id="moderatepolitics" />r/moderatepolitics<br>
<input type="checkbox" name="sub_select" id="peoplesparty" />r/peoplesparty<br>

<p>On the left</p>
<input type="checkbox" name="sub_select" id="alltheleft" />r/alltheleft<br>
<input type="checkbox" name="sub_select" id="classical_liberals" />r/classical_liberals<br>
<input type="checkbox" name="sub_select" id="cornbreadliberals" />r/cornbreadliberals<br>
<input type="checkbox" name="sub_select" id="democrats" />r/democrats<br>
<input type="checkbox" name="sub_select" id="demsocialist" />r/demsocialist<br>
<input type="checkbox" name="sub_select" id="greenparty" />r/greenparty<br>
<input type="checkbox" name="sub_select" id="labor" />r/labor<br>
<input type="checkbox" name="sub_select" id="leftcommunism" />r/leftcommunism<br>
<input type="checkbox" name="sub_select" id="leninism" />r/leninism<br>
<input type="checkbox" name="sub_select" id="liberal" />r/liberal<br>
<input type="checkbox" name="sub_select" id="neoprogs" />r/neoprogs<br>
<input type="checkbox" name="sub_select" id="obama" />r/obama<br>
<input type="checkbox" name="sub_select" id="progressive" />r/progressive<br>
<input type="checkbox" name="sub_select" id="socialdemocracy" />r/socialdemocracy<br>
<input type="checkbox" name="sub_select" id="socialism" />r/socialism<br>

<p>On the right</p>
<input type="checkbox" name="sub_select" id="conservative" />r/conservative<br>
<input type="checkbox" name="sub_select" id="conservatives" />r/conservatives<br>
<input type="checkbox" name="sub_select" id="monarchism" />r/monarchism<br>
<input type="checkbox" name="sub_select" id="new_right" />r/new_right<br>
<input type="checkbox" name="sub_select" id="objectivism" />r/objectivism<br>
<input type="checkbox" name="sub_select" id="paleoconservative" />r/paleoconservative<br>
<input type="checkbox" name="sub_select" id="republican" />r/republican<br>
<input type="checkbox" name="sub_select" id="republicans" />r/republicans<br>
<input type="checkbox" name="sub_select" id="romney" />r/romney<br>
<input type="checkbox" name="sub_select" id="trueobjectivism" />r/trueobjectivism<br>

<p>Libertarian</p>
<input type="checkbox" name="sub_select" id="agorism" />r/agorism<br>
<input type="checkbox" name="sub_select" id="anarcho_capitalism" />r/anarcho_capitalism<br>
<input type="checkbox" name="sub_select" id="anarchobjectivism" />r/anarchobjectivism<br>
<input type="checkbox" name="sub_select" id="christian_ancaps" />r/christian_ancaps<br>
<input type="checkbox" name="sub_select" id="libertarian" />r/libertarian<br>
<input type="checkbox" name="sub_select" id="libertariandebates" />r/libertariandebates<br>
<input type="checkbox" name="sub_select" id="libertarianleft" />r/libertarianleft<br>
<input type="checkbox" name="sub_select" id="libertarianmeme" />r/libertarianmeme<br>
<input type="checkbox" name="sub_select" id="libertariansocialism" />r/libertariansocialism<br>
<input type="checkbox" name="sub_select" id="libertarianwomen" />r/libertarianwomen<br>
<input type="checkbox" name="sub_select" id="paul" />r/paul<br>
<input type="checkbox" name="sub_select" id="ronpaul" />r/ronpaul<br>
<input type="checkbox" name="sub_select" id="truelibertarian" />r/truelibertarian<br>
<input type="checkbox" name="sub_select" id="voluntarism" />r/voluntarism<br>

<p>Communism</p>
<input type="checkbox" name="sub_select" id="communism" />r/communism<br>
<input type="checkbox" name="sub_select" id="debateacommunist" />r/debateacommunist<br>
<input type="checkbox" name="sub_select" id="debatecommunism" />r/debatecommunism<br>
<input type="checkbox" name="sub_select" id="leftcommunism" />r/leftcommunism<br>

<p>Anarchism</p>
<input type="checkbox" name="sub_select" id="anarchism" />r/anarchism<br>
<input type="checkbox" name="sub_select" id="anarchistnews" />r/anarchistnews<br>
<input type="checkbox" name="sub_select" id="anarchy101" />r/anarchy101<br>
<input type="checkbox" name="sub_select" id="crimethinccollective" />r/crimethinccollective<br>
<input type="checkbox" name="sub_select" id="green_anarchism" />r/green_anarchism<br>
<input type="checkbox" name="sub_select" id="libertariansocialism" />r/libertariansocialism<br>
<input type="checkbox" name="sub_select" id="libertarianleft" />r/libertarianleft<br>

<p>Other Political Parties</p>
<input type="checkbox" name="sub_select" id="futuristparty" />r/futuristparty<br>
<input type="checkbox" name="sub_select" id="pirateparty" />r/pirateparty<br>
<input type="checkbox" name="sub_select" id="bullmooseparty" />r/bullmooseparty<br>

<h4>Political Issues and Causes</h4>
<input type="checkbox" name="sub_select" id="acta" />r/acta<br>
<input type="checkbox" name="sub_select" id="antiwar" />r/antiwar<br>
<input type="checkbox" name="sub_select" id="bad_cop_no_donut" />r/bad_cop_no_donut<br>
<input type="checkbox" name="sub_select" id="badgovnofreedom" />r/badgovnofreedom<br>
<input type="checkbox" name="sub_select" id="basicincome" />r/basicincome<br>
<input type="checkbox" name="sub_select" id="cispa" />r/cispa<br>
<input type="checkbox" name="sub_select" id="democracy" />r/democracy<br>
<input type="checkbox" name="sub_select" id="endlesswar" />r/endlesswar<br>
<input type="checkbox" name="sub_select" id="enoughpaulspam" />r/enoughpaulspam<br>
<input type="checkbox" name="sub_select" id="enoughobamaspam" />r/enoughobamaspam<br>
<input type="checkbox" name="sub_select" id="environment" />r/environment<br>
<input type="checkbox" name="sub_select" id="fairtax" />r/fairtax<br>
<input type="checkbox" name="sub_select" id="flushthetpp" />r/flushthetpp<br>
<input type="checkbox" name="sub_select" id="evolutionreddit" />r/evolutionreddit<br>
<input type="checkbox" name="sub_select" id="firstamendment" />r/firstamendment<br>
<input type="checkbox" name="sub_select" id="good_cop_free_donut" />r/good_cop_free_donut<br>
<input type="checkbox" name="sub_select" id="greed" />r/greed<br>
<input type="checkbox" name="sub_select" id="green" />r/green<br>
<input type="checkbox" name="sub_select" id="gunpolitics" />r/gunpolitics<br>
<input type="checkbox" name="sub_select" id="gunsarecool" />r/gunsarecool<br>
<input type="checkbox" name="sub_select" id="humanrights" />r/humanrights<br>
<input type="checkbox" name="sub_select" id="labor" />r/labor<br>
<input type="checkbox" name="sub_select" id="liberty" />r/liberty<br>
<input type="checkbox" name="sub_select" id="nsa" />r/nsa<br>
<input type="checkbox" name="sub_select" id="nsaleaks" />r/nsaleaks<br>
<input type="checkbox" name="sub_select" id="rpac" />r/rpac<br>
<input type="checkbox" name="sub_select" id="politicalactivism" />r/politicalactivism<br>
<input type="checkbox" name="sub_select" id="privacy" />r/privacy<br>
<input type="checkbox" name="sub_select" id="prochoice" />r/prochoice<br>
<input type="checkbox" name="sub_select" id="progun" />r/progun<br>
<input type="checkbox" name="sub_select" id="restorethefourth" />r/restorethefourth<br>
<input type="checkbox" name="sub_select" id="rootstrikers" />r/rootstrikers<br>
<input type="checkbox" name="sub_select" id="savetheconstitution" />r/savetheconstitution<br>
<input type="checkbox" name="sub_select" id="socialdemocracy" />r/socialdemocracy<br>
<input type="checkbox" name="sub_select" id="sopa" />r/sopa<br>
<input type="checkbox" name="sub_select" id="supportthetpp" />r/supportthetpp<br>
<input type="checkbox" name="sub_select" id="wikileaks" />r/wikileaks<br>

<h4>Election Themed</h4>
<input type="checkbox" name="sub_select" id="2012elections" />r/2012elections<br>
<input type="checkbox" name="sub_select" id="2016_elections" />r/2016_elections<br>
<input type="checkbox" name="sub_select" id="americanselect" />r/americanselect<br>
<input type="checkbox" name="sub_select" id="campaigns" />r/campaigns<br>
<input type="checkbox" name="sub_select" id="electionpolls" />r/electionpolls<br>
<input type="checkbox" name="sub_select" id="electionreform" />r/electionreform<br>
<input type="checkbox" name="sub_select" id="elections" />r/elections<br>
<input type="checkbox" name="sub_select" id="forecast2016" />r/forecast2016<br>
<input type="checkbox" name="sub_select" id="peoplesparty" />r/peoplesparty<br>
<input type="checkbox" name="sub_select" id="runforit" />r/runforit<br>
<input type="checkbox" name="sub_select" id="voting" />r/voting<br>

<h4>State Specific</h4>
<input type="checkbox" name="sub_select" id="flgovernment" />r/flgovernment<br>
<input type="checkbox" name="sub_select" id="illinoispolitics" />r/illinoispolitics<br>
<input type="checkbox" name="sub_select" id="masspolitics" />r/masspolitics<br>
<input type="checkbox" name="sub_select" id="missouripolitics" />r/missouripolitics<br>
<input type="checkbox" name="sub_select" id="utahpolitics" />r/utahpolitics<br>
<input type="checkbox" name="sub_select" id="virginiapolitics" />r/virginiapolitics<br>

<h4>General Interest</h4>
<input type="checkbox" name="sub_select" id="americangovernment" />r/americangovernment<br>
<input type="checkbox" name="sub_select" id="americanpolitics" />r/americanpolitics<br>
<input type="checkbox" name="sub_select" id="anythinggoesnews" />r/anythinggoesnews<br>
<input type="checkbox" name="sub_select" id="ask_political_science" />r/ask_political_science<br>
<input type="checkbox" name="sub_select" id="ask_politics" />r/ask_politics<br>
<input type="checkbox" name="sub_select" id="authoritarian" />r/authoritarian<br>
<input type="checkbox" name="sub_select" id="comparative" />r/comparative<br>
<input type="checkbox" name="sub_select" id="conspiracy" />r/conspiracy<br>
<input type="checkbox" name="sub_select" id="conspiratard" />r/conspiratard<br>
<input type="checkbox" name="sub_select" id="descentintotyranny" />r/descentintotyranny<br>
<input type="checkbox" name="sub_select" id="debatefascism" />r/debatefascism<br>
<input type="checkbox" name="sub_select" id="doctorswithoutborders" />r/doctorswithoutborders<br>
<input type="checkbox" name="sub_select" id="government" />r/government<br>
<input type="checkbox" name="sub_select" id="history" />r/history<br>
<input type="checkbox" name="sub_select" id="humanrights" />r/humanrights<br>
<input type="checkbox" name="sub_select" id="iwantout" />r/iwantout<br>
<input type="checkbox" name="sub_select" id="iww" />r/iww<br>
<input type="checkbox" name="sub_select" id="justice" />r/justice<br>
<input type="checkbox" name="sub_select" id="news" />r/news<br>
<input type="checkbox" name="sub_select" id="politic" />r/politic<br>
<input type="checkbox" name="sub_select" id="politicaldiscussion" />r/politicaldiscussion<br>
<input type="checkbox" name="sub_select" id="politicalfactchecking" />r/politicalfactchecking<br>
<input type="checkbox" name="sub_select" id="politicalhumor" />r/politicalhumor<br>
<input type="checkbox" name="sub_select" id="politicalmoderation" />r/politicalmoderation<br>
<input type="checkbox" name="sub_select" id="politicalphilosophy" />r/politicalphilosophy<br>
<input type="checkbox" name="sub_select" id="politicalpics" />r/politicalpics<br>
<input type="checkbox" name="sub_select" id="politicalpredictions" />r/politicalpredictions<br>
<input type="checkbox" name="sub_select" id="politicalscience" />r/politicalscience<br>
<input type="checkbox" name="sub_select" id="politicaltweets" />r/politicaltweets<br>
<input type="checkbox" name="sub_select" id="politicsdebate" />r/politicsdebate<br>
<input type="checkbox" name="sub_select" id="politicsinamerica" />r/politicsinamerica<br>
<input type="checkbox" name="sub_select" id="pragmatism" />r/pragmatism<br>
<input type="checkbox" name="sub_select" id="republicofpolitics" />r/republicofpolitics<br>
<input type="checkbox" name="sub_select" id="rvbdebates" />r/rvbdebates<br>
<input type="checkbox" name="sub_select" id="stateoftheunion" />r/stateoftheunion<br>
<input type="checkbox" name="sub_select" id="techpolitics" />r/techpolitics<br>
<input type="checkbox" name="sub_select" id="thirdpartyroundtable" />r/thirdpartyroundtable<br>
<input type="checkbox" name="sub_select" id="truepolitics" />r/truepolitics<br>
<input type="checkbox" name="sub_select" id="usanews" />r/usanews<br>
<input type="checkbox" name="sub_select" id="uspolitics" />r/uspolitics<br>
<input type="checkbox" name="sub_select" id="watchingcongress" />r/watchingcongress<br>
<input type="checkbox" name="sub_select" id="wealth" />r/wealth<br>
<input type="checkbox" name="sub_select" id="worldunity" />r/worldunity<br>
<input type="checkbox" name="sub_select" id="yro" />r/yro<br>

<h4>Reddit Activist Network</h4>
<input type="checkbox" name="sub_select" id="alloccupy" />r/alloccupy<br>
<input type="checkbox" name="sub_select" id="acta" />r/acta<br>
<input type="checkbox" name="sub_select" id="anonymous" />r/anonymous<br>
<input type="checkbox" name="sub_select" id="anonops" />r/anonops<br>
<input type="checkbox" name="sub_select" id="auinternetaccess" />r/auinternetaccess<br>
<input type="checkbox" name="sub_select" id="bad_cop_no_donut" />r/bad_cop_no_donut<br>
<input type="checkbox" name="sub_select" id="boycotthollywood" />r/boycotthollywood<br>
<input type="checkbox" name="sub_select" id="cascadia" />r/cascadia<br>
<input type="checkbox" name="sub_select" id="censorship" />r/censorship<br>
<input type="checkbox" name="sub_select" id="darknetplan" />r/darknetplan<br>
<input type="checkbox" name="sub_select" id="evolutionreddit" />r/evolutionreddit<br>
<input type="checkbox" name="sub_select" id="fia" />r/fia<br>
<input type="checkbox" name="sub_select" id="hackbloc" />r/hackbloc<br>
<input type="checkbox" name="sub_select" id="internetdeclaration" />r/internetdeclaration<br>
<input type="checkbox" name="sub_select" id="internetdefense" />r/internetdefense<br>
<input type="checkbox" name="sub_select" id="israelexposed" />r/israelexposed<br>
<input type="checkbox" name="sub_select" id="killhollywood" />r/killhollywood<br>
<input type="checkbox" name="sub_select" id="meshnet" />r/meshnet<br>
<input type="checkbox" name="sub_select" id="mensrights" />r/mensrights<br>
<input type="checkbox" name="sub_select" id="occupy" />r/occupy<br>
<input type="checkbox" name="sub_select" id="occupywallstreet" />r/occupywallstreet<br>
<input type="checkbox" name="sub_select" id="opelectronicleviathan" />r/opelectronicleviathan<br>
<input type="checkbox" name="sub_select" id="operationgrabass" />r/operationgrabass<br>
<input type="checkbox" name="sub_select" id="operationpullryan" />r/operationpullryan<br>
<input type="checkbox" name="sub_select" id="petition" />r/petition<br>
<input type="checkbox" name="sub_select" id="projectfactcheck" />r/projectfactcheck<br>
<input type="checkbox" name="sub_select" id="projectoverhaul" />r/projectoverhaul<br>
<input type="checkbox" name="sub_select" id="redditactivism" />r/redditactivism<br>
<input type="checkbox" name="sub_select" id="rpac" />r/rpac<br>
<input type="checkbox" name="sub_select" id="rwb" />r/rwb<br>
<input type="checkbox" name="sub_select" id="smallrevolutions" />r/smallrevolutions<br>
<input type="checkbox" name="sub_select" id="sopa" />r/sopa<br>
<input type="checkbox" name="sub_select" id="testpac" />r/testpac<br>
<input type="checkbox" name="sub_select" id="thewarondrugs" />r/thewarondrugs<br>
<input type="checkbox" name="sub_select" id="timetolegalize" />r/timetolegalize<br>
<input type="checkbox" name="sub_select" id="troubledteens" />r/troubledteens<br>
<input type="checkbox" name="sub_select" id="union" />r/union<br>

<h4>Economics</h4>
<input type="checkbox" name="sub_select" id="austrian_economics" />r/austrian_economics<br>
<input type="checkbox" name="sub_select" id="business" />r/business<br>
<input type="checkbox" name="sub_select" id="economics" />r/economics<br>
<input type="checkbox" name="sub_select" id="internationalbusiness" />r/internationalbusiness<br>
  </div>
  </div>

<p>   </p>

  <div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes2()">
      <select>
        <option>Choose some keywords!</option>
      </select>
      <div class="overSelect"></div>
    </div>
<div id="checkboxes2">

<input type="checkbox" name="keyword_select" id="aca" />aca<br>
<input type="checkbox" name="keyword_select" id="accusations" />accusations<br>
<input type="checkbox" name="keyword_select" id="action" />action<br>
<input type="checkbox" name="keyword_select" id="actually" />actually<br>
<input type="checkbox" name="keyword_select" id="agree" />agree<br>
<input type="checkbox" name="keyword_select" id="america" />america<br>
<input type="checkbox" name="keyword_select" id="american" />american<br>
<input type="checkbox" name="keyword_select" id="aren" />aren<br>
<input type="checkbox" name="keyword_select" id="argument" />argument<br>
<input type="checkbox" name="keyword_select" id="article" />article<br>
<input type="checkbox" name="keyword_select" id="assange" />assange<br>
<input type="checkbox" name="keyword_select" id="attack" />attack<br>
<input type="checkbox" name="keyword_select" id="automatically" />automatically<br>
<input type="checkbox" name="keyword_select" id="bad" />bad<br>
<input type="checkbox" name="keyword_select" id="ban" />ban<br>
<input type="checkbox" name="keyword_select" id="banks" />banks<br>
<input type="checkbox" name="keyword_select" id="beck" />beck<br>
<input type="checkbox" name="keyword_select" id="believe" />believe<br>
<input type="checkbox" name="keyword_select" id="bernie" />bernie<br>
<input type="checkbox" name="keyword_select" id="best" />best<br>
<input type="checkbox" name="keyword_select" id="better" />better<br>
<input type="checkbox" name="keyword_select" id="biden" />biden<br>
<input type="checkbox" name="keyword_select" id="big" />big<br>
<input type="checkbox" name="keyword_select" id="black" />black<br>
<input type="checkbox" name="keyword_select" id="bot" />bot<br>
<input type="checkbox" name="keyword_select" id="bp" />bp<br>
<input type="checkbox" name="keyword_select" id="bush" />bush<br>
<input type="checkbox" name="keyword_select" id="business" />business<br>
<input type="checkbox" name="keyword_select" id="campaign" />campaign<br>
<input type="checkbox" name="keyword_select" id="candidate" />candidate<br>
<input type="checkbox" name="keyword_select" id="candidates" />candidates<br>
<input type="checkbox" name="keyword_select" id="care" />care<br>
<input type="checkbox" name="keyword_select" id="carson" />carson<br>
<input type="checkbox" name="keyword_select" id="case" />case<br>
<input type="checkbox" name="keyword_select" id="change" />change<br>
<input type="checkbox" name="keyword_select" id="cheney" />cheney<br>
<input type="checkbox" name="keyword_select" id="civil" />civil<br>
<input type="checkbox" name="keyword_select" id="clinton" />clinton<br>
<input type="checkbox" name="keyword_select" id="come" />come<br>
<input type="checkbox" name="keyword_select" id="comey" />comey<br>
<input type="checkbox" name="keyword_select" id="comment" />comment<br>
<input type="checkbox" name="keyword_select" id="comments" />comments<br>
<input type="checkbox" name="keyword_select" id="companies" />companies<br>
<input type="checkbox" name="keyword_select" id="company" />company<br>
<input type="checkbox" name="keyword_select" id="compose" />compose<br>
<input type="checkbox" name="keyword_select" id="concerns" />concerns<br>
<input type="checkbox" name="keyword_select" id="congress" />congress<br>
<input type="checkbox" name="keyword_select" id="constitution" />constitution<br>
<input type="checkbox" name="keyword_select" id="contact" />contact<br>
<input type="checkbox" name="keyword_select" id="control" />control<br>
<input type="checkbox" name="keyword_select" id="cop" />cop<br>
<input type="checkbox" name="keyword_select" id="cops" />cops<br>
<input type="checkbox" name="keyword_select" id="corporations" />corporations<br>
<input type="checkbox" name="keyword_select" id="cost" />cost<br>
<input type="checkbox" name="keyword_select" id="country" />country<br>
<input type="checkbox" name="keyword_select" id="cruz" />cruz<br>
<input type="checkbox" name="keyword_select" id="cuts" />cuts<br>
<input type="checkbox" name="keyword_select" id="day" />day<br>
<input type="checkbox" name="keyword_select" id="debate" />debate<br>
<input type="checkbox" name="keyword_select" id="debt" />debt<br>
<input type="checkbox" name="keyword_select" id="delegates" />delegates<br>
<input type="checkbox" name="keyword_select" id="democratic" />democratic<br>
<input type="checkbox" name="keyword_select" id="democrats" />democrats<br>
<input type="checkbox" name="keyword_select" id="did" />did<br>
<input type="checkbox" name="keyword_select" id="didn" />didn<br>
<input type="checkbox" name="keyword_select" id="discussion" />discussion<br>
<input type="checkbox" name="keyword_select" id="dnc" />dnc<br>
<input type="checkbox" name="keyword_select" id="does" />does<br>
<input type="checkbox" name="keyword_select" id="doesn" />doesn<br>
<input type="checkbox" name="keyword_select" id="doing" />doing<br>
<input type="checkbox" name="keyword_select" id="don" />don<br>
<input type="checkbox" name="keyword_select" id="donald" />donald<br>
<input type="checkbox" name="keyword_select" id="economy" />economy<br>
<input type="checkbox" name="keyword_select" id="election" />election<br>
<input type="checkbox" name="keyword_select" id="emails" />emails<br>
<input type="checkbox" name="keyword_select" id="evidence" />evidence<br>
<input type="checkbox" name="keyword_select" id="exactly" />exactly<br>
<input type="checkbox" name="keyword_select" id="fact" />fact<br>
<input type="checkbox" name="keyword_select" id="fake" />fake<br>
<input type="checkbox" name="keyword_select" id="far" />far<br>
<input type="checkbox" name="keyword_select" id="fbi" />fbi<br>
<input type="checkbox" name="keyword_select" id="federal" />federal<br>
<input type="checkbox" name="keyword_select" id="feel" />feel<br>
<input type="checkbox" name="keyword_select" id="food" />food<br>
<input type="checkbox" name="keyword_select" id="fox" />fox<br>
<input type="checkbox" name="keyword_select" id="free" />free<br>
<input type="checkbox" name="keyword_select" id="fuck" />fuck<br>
<input type="checkbox" name="keyword_select" id="fucking" />fucking<br>
<input type="checkbox" name="keyword_select" id="gay" />gay<br>
<input type="checkbox" name="keyword_select" id="general" />general<br>
<input type="checkbox" name="keyword_select" id="getting" />getting<br>
<input type="checkbox" name="keyword_select" id="glenn" />glenn<br>
<input type="checkbox" name="keyword_select" id="god" />god<br>
<input type="checkbox" name="keyword_select" id="going" />going<br>
<input type="checkbox" name="keyword_select" id="good" />good<br>
<input type="checkbox" name="keyword_select" id="gop" />gop<br>
<input type="checkbox" name="keyword_select" id="got" />got<br>
<input type="checkbox" name="keyword_select" id="government" />government<br>
<input type="checkbox" name="keyword_select" id="great" />great<br>
<input type="checkbox" name="keyword_select" id="gt" />gt<br>
<input type="checkbox" name="keyword_select" id="gun" />gun<br>
<input type="checkbox" name="keyword_select" id="guns" />guns<br>
<input type="checkbox" name="keyword_select" id="guy" />guy<br>
<input type="checkbox" name="keyword_select" id="hamas" />hamas<br>
<input type="checkbox" name="keyword_select" id="hate" />hate<br>
<input type="checkbox" name="keyword_select" id="health" />health<br>
<input type="checkbox" name="keyword_select" id="healthcare" />healthcare<br>
<input type="checkbox" name="keyword_select" id="hillary" />hillary<br>
<input type="checkbox" name="keyword_select" id="hope" />hope<br>
<input type="checkbox" name="keyword_select" id="house" />house<br>
<input type="checkbox" name="keyword_select" id="id" />id<br>
<input type="checkbox" name="keyword_select" id="idea" />idea<br>
<input type="checkbox" name="keyword_select" id="ideas" />ideas<br>
<input type="checkbox" name="keyword_select" id="income" />income<br>
<input type="checkbox" name="keyword_select" id="information" />information<br>
<input type="checkbox" name="keyword_select" id="insurance" />insurance<br>
<input type="checkbox" name="keyword_select" id="internet" />internet<br>
<input type="checkbox" name="keyword_select" id="investigation" />investigation<br>
<input type="checkbox" name="keyword_select" id="iran" />iran<br>
<input type="checkbox" name="keyword_select" id="iraq" />iraq<br>
<input type="checkbox" name="keyword_select" id="isn" />isn<br>
<input type="checkbox" name="keyword_select" id="israel" />israel<br>
<input type="checkbox" name="keyword_select" id="issue" />issue<br>
<input type="checkbox" name="keyword_select" id="jews" />jews<br>
<input type="checkbox" name="keyword_select" id="job" />job<br>
<input type="checkbox" name="keyword_select" id="jobs" />jobs<br>
<input type="checkbox" name="keyword_select" id="joe" />joe<br>
<input type="checkbox" name="keyword_select" id="just" />just<br>
<input type="checkbox" name="keyword_select" id="kill" />kill<br>
<input type="checkbox" name="keyword_select" id="know" />know<br>
<input type="checkbox" name="keyword_select" id="kucinich" />kucinich<br>
<input type="checkbox" name="keyword_select" id="law" />law<br>
<input type="checkbox" name="keyword_select" id="laws" />laws<br>
<input type="checkbox" name="keyword_select" id="left" />left<br>
<input type="checkbox" name="keyword_select" id="let" />let<br>
<input type="checkbox" name="keyword_select" id="liberal" />liberal<br>
<input type="checkbox" name="keyword_select" id="life" />life<br>
<input type="checkbox" name="keyword_select" id="like" />like<br>
<input type="checkbox" name="keyword_select" id="literally" />literally<br>
<input type="checkbox" name="keyword_select" id="little" />little<br>
<input type="checkbox" name="keyword_select" id="live" />live<br>
<input type="checkbox" name="keyword_select" id="ll" />ll<br>
<input type="checkbox" name="keyword_select" id="lol" />lol<br>
<input type="checkbox" name="keyword_select" id="long" />long<br>
<input type="checkbox" name="keyword_select" id="look" />look<br>
<input type="checkbox" name="keyword_select" id="lost" />lost<br>
<input type="checkbox" name="keyword_select" id="lot" />lot<br>
<input type="checkbox" name="keyword_select" id="love" />love<br>
<input type="checkbox" name="keyword_select" id="make" />make<br>
<input type="checkbox" name="keyword_select" id="makes" />makes<br>
<input type="checkbox" name="keyword_select" id="making" />making<br>
<input type="checkbox" name="keyword_select" id="man" />man<br>
<input type="checkbox" name="keyword_select" id="market" />market<br>
<input type="checkbox" name="keyword_select" id="marriage" />marriage<br>
<input type="checkbox" name="keyword_select" id="maybe" />maybe<br>
<input type="checkbox" name="keyword_select" id="mccain" />mccain<br>
<input type="checkbox" name="keyword_select" id="mean" />mean<br>
<input type="checkbox" name="keyword_select" id="media" />media<br>
<input type="checkbox" name="keyword_select" id="message" />message<br>
<input type="checkbox" name="keyword_select" id="military" />military<br>
<input type="checkbox" name="keyword_select" id="minimum" />minimum<br>
<input type="checkbox" name="keyword_select" id="mitt" />mitt<br>
<input type="checkbox" name="keyword_select" id="moderators" />moderators<br>
<input type="checkbox" name="keyword_select" id="money" />money<br>
<input type="checkbox" name="keyword_select" id="moore" />moore<br>
<input type="checkbox" name="keyword_select" id="mosque" />mosque<br>
<input type="checkbox" name="keyword_select" id="movement" />movement<br>
<input type="checkbox" name="keyword_select" id="nas" />nas<br>
<input type="checkbox" name="keyword_select" id="nazi" />nazi<br>
<input type="checkbox" name="keyword_select" id="nazis" />nazis<br>
<input type="checkbox" name="keyword_select" id="need" />need<br>
<input type="checkbox" name="keyword_select" id="new" />new<br>
<input type="checkbox" name="keyword_select" id="news" />news<br>
<input type="checkbox" name="keyword_select" id="ni" />ni<br>
<input type="checkbox" name="keyword_select" id="nif" />nif<br>
<input type="checkbox" name="keyword_select" id="nin" />nin<br>
<input type="checkbox" name="keyword_select" id="nsa" />nsa<br>
<input type="checkbox" name="keyword_select" id="nthe" />nthe<br>
<input type="checkbox" name="keyword_select" id="nurl" />nurl<br>
<input type="checkbox" name="keyword_select" id="obama" />obama<br>
<input type="checkbox" name="keyword_select" id="obamacare" />obamacare<br>
<input type="checkbox" name="keyword_select" id="officer" />officer<br>
<input type="checkbox" name="keyword_select" id="oh" />oh<br>
<input type="checkbox" name="keyword_select" id="oil" />oil<br>
<input type="checkbox" name="keyword_select" id="old" />old<br>
<input type="checkbox" name="keyword_select" id="option" />option<br>
<input type="checkbox" name="keyword_select" id="ows" />ows<br>
<input type="checkbox" name="keyword_select" id="palin" />palin<br>
<input type="checkbox" name="keyword_select" id="party" />party<br>
<input type="checkbox" name="keyword_select" id="paul" />paul<br>
<input type="checkbox" name="keyword_select" id="pay" />pay<br>
<input type="checkbox" name="keyword_select" id="people" />people<br>
<input type="checkbox" name="keyword_select" id="performed" />performed<br>
<input type="checkbox" name="keyword_select" id="person" />person<br>
<input type="checkbox" name="keyword_select" id="personal" />personal<br>
<input type="checkbox" name="keyword_select" id="plan" />plan<br>
<input type="checkbox" name="keyword_select" id="point" />point<br>
<input type="checkbox" name="keyword_select" id="police" />police<br>
<input type="checkbox" name="keyword_select" id="political" />political<br>
<input type="checkbox" name="keyword_select" id="politics" />politics<br>
<input type="checkbox" name="keyword_select" id="poor" />poor<br>
<input type="checkbox" name="keyword_select" id="post" />post<br>
<input type="checkbox" name="keyword_select" id="power" />power<br>
<input type="checkbox" name="keyword_select" id="president" />president<br>
<input type="checkbox" name="keyword_select" id="pretty" />pretty<br>
<input type="checkbox" name="keyword_select" id="primary" />primary<br>
<input type="checkbox" name="keyword_select" id="private" />private<br>
<input type="checkbox" name="keyword_select" id="probably" />probably<br>
<input type="checkbox" name="keyword_select" id="problem" />problem<br>
<input type="checkbox" name="keyword_select" id="protest" />protest<br>
<input type="checkbox" name="keyword_select" id="public" />public<br>
<input type="checkbox" name="keyword_select" id="question" />question<br>
<input type="checkbox" name="keyword_select" id="questions" />questions<br>
<input type="checkbox" name="keyword_select" id="racist" />racist<br>
<input type="checkbox" name="keyword_select" id="read" />read<br>
<input type="checkbox" name="keyword_select" id="real" />real<br>
<input type="checkbox" name="keyword_select" id="really" />really<br>
<input type="checkbox" name="keyword_select" id="reason" />reason<br>
<input type="checkbox" name="keyword_select" id="reddit" />reddit<br>
<input type="checkbox" name="keyword_select" id="reform" />reform<br>
<input type="checkbox" name="keyword_select" id="refugees" />refugees<br>
<input type="checkbox" name="keyword_select" id="regarding" />regarding<br>
<input type="checkbox" name="keyword_select" id="religion" />religion<br>
<input type="checkbox" name="keyword_select" id="religious" />religious<br>
<input type="checkbox" name="keyword_select" id="reminder" />reminder<br>
<input type="checkbox" name="keyword_select" id="removal" />removal<br>
<input type="checkbox" name="keyword_select" id="removed" />removed<br>
<input type="checkbox" name="keyword_select" id="report" />report<br>
<input type="checkbox" name="keyword_select" id="republican" />republican<br>
<input type="checkbox" name="keyword_select" id="republicans" />republicans<br>
<input type="checkbox" name="keyword_select" id="result" />result<br>
<input type="checkbox" name="keyword_select" id="rich" />rich<br>
<input type="checkbox" name="keyword_select" id="right" />right<br>
<input type="checkbox" name="keyword_select" id="rights" />rights<br>
<input type="checkbox" name="keyword_select" id="romney" />romney<br>
<input type="checkbox" name="keyword_select" id="ron" />ron<br>
<input type="checkbox" name="keyword_select" id="rubio" />rubio<br>
<input type="checkbox" name="keyword_select" id="rules" />rules<br>
<input type="checkbox" name="keyword_select" id="rush" />rush<br>
<input type="checkbox" name="keyword_select" id="russia" />russia<br>
<input type="checkbox" name="keyword_select" id="russian" />russian<br>
<input type="checkbox" name="keyword_select" id="ryan" />ryan<br>
<input type="checkbox" name="keyword_select" id="said" />said<br>
<input type="checkbox" name="keyword_select" id="sanders" />sanders<br>
<input type="checkbox" name="keyword_select" id="santorum" />santorum<br>
<input type="checkbox" name="keyword_select" id="say" />say<br>
<input type="checkbox" name="keyword_select" id="saying" />saying<br>
<input type="checkbox" name="keyword_select" id="says" />says<br>
<input type="checkbox" name="keyword_select" id="school" />school<br>
<input type="checkbox" name="keyword_select" id="security" />security<br>
<input type="checkbox" name="keyword_select" id="shill" />shill<br>
<input type="checkbox" name="keyword_select" id="shit" />shit<br>
<input type="checkbox" name="keyword_select" id="shutdown" />shutdown<br>
<input type="checkbox" name="keyword_select" id="sopa" />sopa<br>
<input type="checkbox" name="keyword_select" id="speech" />speech<br>
<input type="checkbox" name="keyword_select" id="spending" />spending<br>
<input type="checkbox" name="keyword_select" id="state" />state<br>
<input type="checkbox" name="keyword_select" id="states" />states<br>
<input type="checkbox" name="keyword_select" id="stimulus" />stimulus<br>
<input type="checkbox" name="keyword_select" id="stop" />stop<br>
<input type="checkbox" name="keyword_select" id="street" />street<br>
<input type="checkbox" name="keyword_select" id="stupid" />stupid<br>
<input type="checkbox" name="keyword_select" id="subreddit" />subreddit<br>
<input type="checkbox" name="keyword_select" id="support" />support<br>
<input type="checkbox" name="keyword_select" id="supporters" />supporters<br>
<input type="checkbox" name="keyword_select" id="sure" />sure<br>
<input type="checkbox" name="keyword_select" id="syria" />syria<br>
<input type="checkbox" name="keyword_select" id="talking" />talking<br>
<input type="checkbox" name="keyword_select" id="tax" />tax<br>
<input type="checkbox" name="keyword_select" id="taxes" />taxes<br>
<input type="checkbox" name="keyword_select" id="tea" />tea<br>
<input type="checkbox" name="keyword_select" id="tell" />tell<br>
<input type="checkbox" name="keyword_select" id="thanks" />thanks<br>
<input type="checkbox" name="keyword_select" id="thing" />thing<br>
<input type="checkbox" name="keyword_select" id="things" />things<br>
<input type="checkbox" name="keyword_select" id="think" />think<br>
<input type="checkbox" name="keyword_select" id="thought" />thought<br>
<input type="checkbox" name="keyword_select" id="time" />time<br>
<input type="checkbox" name="keyword_select" id="today" />today<br>
<input type="checkbox" name="keyword_select" id="torture" />torture<br>
<input type="checkbox" name="keyword_select" id="troll" />troll<br>
<input type="checkbox" name="keyword_select" id="true" />true<br>
<input type="checkbox" name="keyword_select" id="trump" />trump<br>
<input type="checkbox" name="keyword_select" id="trying" />trying<br>
<input type="checkbox" name="keyword_select" id="tsa" />tsa<br>
<input type="checkbox" name="keyword_select" id="understand" />understand<br>
<input type="checkbox" name="keyword_select" id="union" />union<br>
<input type="checkbox" name="keyword_select" id="unions" />unions<br>
<input type="checkbox" name="keyword_select" id="url" />url<br>
<input type="checkbox" name="keyword_select" id="use" />use<br>
<input type="checkbox" name="keyword_select" id="used" />used<br>
<input type="checkbox" name="keyword_select" id="user" />user<br>
<input type="checkbox" name="keyword_select" id="users" />users<br>
<input type="checkbox" name="keyword_select" id="ve" />ve<br>
<input type="checkbox" name="keyword_select" id="video" />video<br>
<input type="checkbox" name="keyword_select" id="vote" />vote<br>
<input type="checkbox" name="keyword_select" id="voted" />voted<br>
<input type="checkbox" name="keyword_select" id="voter" />voter<br>
<input type="checkbox" name="keyword_select" id="voters" />voters<br>
<input type="checkbox" name="keyword_select" id="votes" />votes<br>
<input type="checkbox" name="keyword_select" id="voting" />voting<br>
<input type="checkbox" name="keyword_select" id="wage" />wage<br>
<input type="checkbox" name="keyword_select" id="wall" />wall<br>
<input type="checkbox" name="keyword_select" id="want" />want<br>
<input type="checkbox" name="keyword_select" id="war" />war<br>
<input type="checkbox" name="keyword_select" id="water" />water<br>
<input type="checkbox" name="keyword_select" id="way" />way<br>
<input type="checkbox" name="keyword_select" id="weapons" />weapons<br>
<input type="checkbox" name="keyword_select" id="weiner" />weiner<br>
<input type="checkbox" name="keyword_select" id="white" />white<br>
<input type="checkbox" name="keyword_select" id="wikileaks" />wikileaks<br>
<input type="checkbox" name="keyword_select" id="win" />win<br>
<input type="checkbox" name="keyword_select" id="women" />women<br>
<input type="checkbox" name="keyword_select" id="won" />won<br>
<input type="checkbox" name="keyword_select" id="work" />work<br>
<input type="checkbox" name="keyword_select" id="world" />world<br>
<input type="checkbox" name="keyword_select" id="wrong" />wrong<br>
<input type="checkbox" name="keyword_select" id="yeah" />yeah<br>
<input type="checkbox" name="keyword_select" id="year" />year<br>
<input type="checkbox" name="keyword_select" id="years" />years<br>
<input type="checkbox" name="keyword_select" id="yes" />yes<br>
<input type="checkbox" name="keyword_select" id="zimmerman" />zimmerman<br>

</div>
</div>

  <h4>Here are some other options to ensure maximum graphability. </h4>
	 <input type="text" name="startdate" placeholder="2011-11-01"> Custom startdate?<br>
	 <input type="text" name="enddate" placeholder="2017-11-30"> Custom enddate?<br>
        <p/>
   <input type="checkbox" name="option" value="smooth"> Smooth the graphs?<br>
        <p/>
   <input type="checkbox" name="option" value="normalize"> Normalize by total count?<br>
   <input type="checkbox" name="option" value="quantile"> Remove outliers?<br>
        <p/>
	 <input type="checkbox" name="option" value="difference"> Difference between TWO subreddits?<br>
        <p/>
   <input type="checkbox" name="option" value="cumsum"> Total cumulative sum?<br>

	   <p>
	   <input type='submit' value="Let's get graphing!"/>
	   </p>
	</form>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

  <style>

  .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
  }

  #myInput {
      border-box: box-sizing;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
  }

  #myInput:focus {outline: 3px solid #ddd;}

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown a:hover {background-color: #ddd}

  .show {display:block;}



  .multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#checkboxes2 {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes2 label {
  display: block;
}

#checkboxes2 label:hover {
  background-color: #1e90ff;
}

  </style>

  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
          if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
          } else {
              a[i].style.display = "none";
          }
      }
  }

  var expanded1 = false;

  function showCheckboxes(c) {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded1) {
    checkboxes.style.display = "block";
    expanded1 = true;
  } else {
    checkboxes.style.display = "none";
    expanded1 = false;
  }
}


var expanded2 = false;

function showCheckboxes2() {
var checkboxes = document.getElementById("checkboxes2");
if (!expanded2) {
  checkboxes.style.display = "block";
  expanded2 = true;
} else {
  checkboxes.style.display = "none";
  expanded2 = false;
}
}

  </script>

</html>
