<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Data Incubator Capstone project by Jay Kaiser.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Jay Kaiser - Reddit Politics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="./static", filename='style.css'">
  </head>
  <body>

    <form id='entryinfo' method='post' action='rankings'>
      <p>
  <input type='submit' value="See politics-to-subreddit frequency graph..."/>
       </p>
    </form>

    <form id='entryinfo' method='post' action='normalizedrankings'>
      <p>
  <input type='submit' value="See a politics-to-subreddit frequency graph by normalized ranking..."/>
       </p>
    </form>

    <div class="metanav">
      <h3>Select any number of subreddits and keywords and see how their frequencies change over time!</h3>
      <h4>(If left blank, they'll default to r/The_Donald and r/hillaryclinton, and 'trump' and 'clinton'.) </h4>

<form id='entryinfo' method='post' action='frequencies'>

<div class="multiselect">
  <div class="selectBox" onclick="showCheckboxes()">
    <select>
      <option>Choose some subreddits!</option>
    </select>
    <div class="overSelect"></div>
  </div>

  <div id="checkboxes">

    <script src="subreddits.js"></script>

  </div>
</div>

<p>   </p>

  <div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes2()">
      <select>
        <option>Choose some keywords!</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div id="checkboxes2">

      <script src="keywords.js"></script>

    </div>
</div>

  <h4>Here are some other options to ensure maximum graphability. </h4>
	 <input type="text" name="startdate" placeholder="2011-11-01"> Custom startdate?<br>
	 <input type="text" name="enddate" placeholder="2017-11-30"> Custom enddate?<br>
        <p/>
   <input type="checkbox" name="option" value="smooth"> Smooth the graphs?<br>
        <p/>
   <input type="checkbox" name="option" value="normalize"> Normalize by total count?<br>
   <input type="checkbox" name="option" value="quantile"> Remove outliers?<br>
        <p/>
	 <input type="checkbox" name="option" value="difference"> Difference between TWO subreddits?<br>
        <p/>
   <input type="checkbox" name="option" value="cumsum"> Total cumulative sum?<br>

	   <p>
	   <input type='submit' value="Let's get graphing!"/>
	   </p>
	</form>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>



<style>

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#checkboxes2 {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes2 label {
  display: block;
}

#checkboxes2 label:hover {
  background-color: #1e90ff;
}

</style>



<script>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

var expanded1 = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded1) {
    checkboxes.style.display = "block";
    expanded1 = true;
  } else {
    checkboxes.style.display = "none";
    expanded1 = false;
  }
}


var expanded2 = false;
function showCheckboxes2() {
  var checkboxes = document.getElementById("checkboxes2");
  if (!expanded2) {
    checkboxes.style.display = "block";
    expanded2 = true;
  } else {
    checkboxes.style.display = "none";
    expanded2 = false;
  }
}

</script>

</html>
