<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>

</head>

<body>

{{ script|safe }}
{{ div|safe }}

<form id='entryinfo' method='get' action='correlations'>
<p>
<input class="btn btn-danger" type='submit' value="Let's get graphing!"/>
</p>
</form>

</body>
</html>
